[submodule "components/esp-wifi-logger"]
	path = src/components/esp-wifi-logger
	url = git@github.com:VedantParanjape/esp-wifi-logger.git
[submodule "components/AIP31068L"]
	path = src/components/AIP31068L
	url = git@github.com:sporrasm/AIP31068L.git
[submodule "components/TCA6408A"]
	path = src/components/TCA6408A
	url = git@github.com:sporrasm/TCA6408A.git
